.col-6of22 {
    padding: 0 .54vw;
    width: 27.2727272727%;
}

.c-Services-points-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-left: 20px;
}

.c-Services {
    background: #fff;
    overflow: hidden
}

.c-Services-intro {
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden
}

.c-Services-intro-inner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center
}

.c-Services-intro-title {
    margin-bottom: 30px;
    line-height: 1
}

.c-Services-intro-title-line {
    display: block;
    opacity: 0;
    transform: translateX(-2vw) translateZ(0);
    transition: opacity 1.2s cubic-bezier(.165, .84, .44, 1) .4s, transform 1.2s cubic-bezier(.165, .84, .44, 1) .4s
}

.c-Services-intro-title-line--1 {
    margin-left: 10.416vw;
    transform: translateX(2vw) translateZ(0)
}

.is-page-ready .c-Services-intro-title-line {
    opacity: 1;
    transform: translateZ(0)
}

.c-Services-intro-foot {
    position: relative
}

.t-h4 li {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.t-h4 {
    margin-bottom: 0px;
}

@media only screen and (max-width: 767px) {
    .c-Services-intro-foot {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 3.65vw;
        bottom: 25px
    }
}

.c-Services-intro-info {
    display: block;
    text-transform: uppercase;
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    opacity: 0;
    transform: translateZ(0);
    transition: opacity 1.2s cubic-bezier(.165, .84, .44, 1) .4s
}

.is-page-ready .c-Services-intro-info {
    opacity: 1
}

.c-Services-intro-scroll {
    position: absolute;
    bottom: 50px;
    right: 3.9vw;
    display: block;
    margin-right: 15px;
    width: 17px;
    height: 52.5px
}

@media only screen and (max-width: 767px) {
    .c-Services-intro-scroll {
        right: 3.65vw;
        bottom: 25px;
        margin-right: 0
    }
}

.c-Services-intro-scroll img {
    width: 100%;
    height: 100%
}

.c-Services-section {
    margin: 200px 0
}

@media only screen and (max-width: 979px) {
    .c-Services-section {
        margin: 100px 0
    }
}

@media only screen and (max-width: 767px) {
    .c-Services-section {
        margin: 60px 0
    }
}

.c-Services-section--sm {
    margin: 100px 0
}

@media only screen and (max-width: 979px) {
    .c-Services-section--sm {
        margin: 80px 0
    }
}

@media only screen and (max-width: 767px) {
    .c-Services-section--sm {
        margin: 60px 0
    }
}

.c-Services-section-inner {
    border-top: 1px solid;
    padding-top: 75px
}

@media only screen and (max-width: 767px) {
    .c-Services-section-inner {
        padding-top: 30px
    }
}

.c-Services-section--alt .c-Services-section-inner {
    border-top: none;
    padding-top: 0
}

.c-Services-section-info {
    display: flex;
    align-items: center;
    color: #7f7f7f;
    text-transform: uppercase;
    padding-top: 8px
}

@media only screen and (max-width: 979px) {
    .c-Services-section-info {
        margin-bottom: 15px;
        padding-top: 0
    }
}

@media only screen and (max-width: 767px) {
    .c-Services-section-info {
        margin-bottom: 15px
    }
}

.c-Services-section-info:before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-radius: 0;
    background: 0 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 5px solid #000;
    margin-right: 7px
}

.c-Services-black .c-Services-section-info:before {
    border-left: 5px solid #fff
}

.c-Services-section-title {
    text-transform: uppercase;
    font-size: 4.1666666667vw
}

@media only screen and (max-width: 767px) {
    .c-Services-section-title {
        margin-bottom: 30px;
        font-size: 9.0666666667vw
    }
}

.c-Services-section-justify {
    display: block;
    text-transform: uppercase;
    margin-bottom: 100px;
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify
}

@media only screen and (max-width: 767px) {
    .c-Services-section-justify {
        margin-bottom: 25px
    }
}

.c-Services-section-btn {
    margin-top: 45px
}

@media only screen and (max-width: 979px) {
    .c-Services-points {
        margin-top: 00px
    }
}

@media only screen and (max-width: 767px) {
    .c-Services-points {
        margin-top: 60px
    }
}

.c-Services-points>div:first-child .c-Services-points-item:before {
    transition: transform 1.2s cubic-bezier(.25, .46, .45, .94) .1s
}

.c-Services-points>div:nth-child(2) .c-Services-points-item:before {
    transition: transform 1.2s cubic-bezier(.25, .46, .45, .94) .2s
}

.c-Services-points>div:nth-child(3) .c-Services-points-item:before {
    transition: transform 1.2s cubic-bezier(.25, .46, .45, .94) .3s
}

.c-Services-points-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-left: 20px
}

.c-Services-points-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: #404040;
    transform-origin: top;
    transform: scaleY(0) translateZ(0)
}

.is-appear .c-Services-points-item:before {
    transform: scaleY(1) translateZ(0)
}

@media only screen and (max-width: 767px) {
    .c-Services-points-item {
        margin-top: 60px;
        height: auto
    }
    .c-Services-points-item:before {
        width: 2px
    }
}

@media only screen and (max-width: 767px) {
    .c-Services-points-item--first {
        margin-top: 0
    }
}

.c-Services-points-item-head {
    margin-bottom: 100px
}

@media only screen and (max-width: 979px) {
    .c-Services-points-item-head {
        margin-bottom: 60px
    }
}

.c-Services-points-item-label {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    margin-top: 15px;
}

.c-Services-points-item-number {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
    /*color:#CF2127*/
    color: #010101;
}

@media only screen and (max-width: 767px) {
    .c-Services-points-item-number {
        font-size: 24vw
    }
}

.c-Services-black {
    padding: 100px 0;
    color: #fff
}

.is-touch .c-Services-black {
    background: #000
}

@media only screen and (max-width: 979px) {
    .c-Services-black {
        padding: 80px 0
    }
}

@media only screen and (max-width: 767px) {
    .c-Services-black {
        padding: 60px 0
    }
}

.c-Services-black--alt {
    padding: 160px 0
}

@media only screen and (max-width: 767px) {
    .c-Services-black--alt {
        padding: 60px 0
    }
}

.c-Services-cities {
    white-space: nowrap
}

.c-Services-callus-right {
    border-left: 1px solid #fff;
    text-align: center
}

@media only screen and (max-width: 767px) {
    .c-Services-callus-right {
        border-left: none
    }
}

.c-Services-callus-content {
    margin-top: 70px
}

@media only screen and (max-width: 767px) {
    .c-Services-callus-content {
        margin-top: 0
    }
}

.c-Services-callus-content--alt {
    margin-top: 325px
}

@media only screen and (max-width: 979px) {
    .c-Services-callus-content--alt {
        margin-top: 150px
    }
}

@media only screen and (max-width: 767px) {
    .c-Services-callus-content--alt {
        margin-top: 0
    }
}